[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TCIApathfinder"]
	path = TCIApathfinder
	url = https://github.com/pamelarussell/tciapathfinder
